Repository rodaddy/audiobook-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-readme, gen-requirements

gen-readme:
  name: Generate README from docstrings
  entry: python scripts/gen-readme.py
  language: python
  pass_filenames: false

gen-requirements:
  name: Generate requirements.txt
  entry: python scripts/gen-requirements.py
  language: python
  pass_filenames: false

docs: add auto-generated README files from __init__.py docstrings
  src/audiobook_pipeline/README.md
  src/audiobook_pipeline/api/README.md
  src/audiobook_pipeline/automation/README.md
  src/audiobook_pipeline/ops/README.md
  src/audiobook_pipeline/stages/README.md
Due: none

fix: improve organize stage metadata resolution and dedup
  .env.example
  src/audiobook_pipeline/ai.py
  src/audiobook_pipeline/config.py
  src/audiobook_pipeline/ops/organize.py
  src/audiobook_pipeline/stages/organize.py
Due: none

docs: update __init__.py docstrings for ai and ops changes
  src/audiobook_pipeline/README.md
  src/audiobook_pipeline/__init__.py
  src/audiobook_pipeline/ops/README.md
  src/audiobook_pipeline/ops/__init__.py
Due: gen-readme

build: add pyproject.toml, pre-commit hooks, and requirements.txt
  requirements.txt
Due: none

session: wrap 2026-02-21 -- organize edge cases and dedup (35ab4a9a)
  .reports/briefing.md
  .reports/session-history.md
  .reports/sessions/35ab4a9a-42cc-48ec-8299-b8aeaab23053.md
Due: none

docs: map existing codebase
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Due: none

fix: consolidate AUDIO_EXTENSIONS, fix ffprobe/normalize/CLI bugs, raise on stub stages
  src/audiobook_pipeline/README.md
  src/audiobook_pipeline/__init__.py
  src/audiobook_pipeline/cli.py
  src/audiobook_pipeline/ffprobe.py
  src/audiobook_pipeline/models.py
  src/audiobook_pipeline/ops/README.md
  src/audiobook_pipeline/ops/__init__.py
  src/audiobook_pipeline/ops/organize.py
  src/audiobook_pipeline/runner.py
  src/audiobook_pipeline/sanitize.py
  src/audiobook_pipeline/stages/__init__.py
  src/audiobook_pipeline/stages/organize.py
  tests/test_ffprobe.py
  tests/test_models.py
Due: gen-readme

test: add comprehensive tests for ai, api, ops/organize, and stages/organize
  tests/test_ai.py
  tests/test_api/test_audible.py
  tests/test_api/test_search.py
  tests/test_ops/test_organize.py
  tests/test_stages/test_organize.py
Due: none

test: improve test quality -- tighter assertions, missing coverage, fix broken mocks
  tests/test_api/test_search.py
  tests/test_ops/test_organize.py
  tests/test_stages/test_organize.py
Due: none

feat: add LibraryIndex for O(1) batch lookups and --reorganize mode
  README.md
  src/audiobook_pipeline/README.md
  src/audiobook_pipeline/__init__.py
  src/audiobook_pipeline/cli.py
  src/audiobook_pipeline/library_index.py
  src/audiobook_pipeline/ops/organize.py
  src/audiobook_pipeline/runner.py
  src/audiobook_pipeline/stages/organize.py
  tests/test_library_index.py
  tests/test_ops/test_organize.py
  tests/test_stages/test_organize.py
Due: gen-readme

fix: remove stub cleanup stage from organize mode pipeline
  src/audiobook_pipeline/models.py
  tests/test_models.py
Due: none

feat: add comprehensive debug logging to all modules
  src/audiobook_pipeline/README.md
  src/audiobook_pipeline/__init__.py
  src/audiobook_pipeline/ai.py
  src/audiobook_pipeline/api/README.md
  src/audiobook_pipeline/api/__init__.py
  src/audiobook_pipeline/api/audible.py
  src/audiobook_pipeline/api/search.py
  src/audiobook_pipeline/cli.py
  src/audiobook_pipeline/concurrency.py
  src/audiobook_pipeline/ffprobe.py
  src/audiobook_pipeline/manifest.py
  src/audiobook_pipeline/ops/README.md
  src/audiobook_pipeline/ops/__init__.py
  src/audiobook_pipeline/ops/organize.py
  src/audiobook_pipeline/runner.py
  src/audiobook_pipeline/sanitize.py
  src/audiobook_pipeline/stages/README.md
  src/audiobook_pipeline/stages/__init__.py
  src/audiobook_pipeline/stages/organize.py
Due: gen-readme

chore: remove pre-commit framework, update stages docstring
  .omc/notepads/test-fixes/learnings.md
  .pre-commit-config.yaml
  .reports/sessions/session-2026-02-21-restructure.md
  src/audiobook_pipeline/stages/README.md
  src/audiobook_pipeline/stages/__init__.py
Due: gen-readme

docs: update stages docstring -- remove stale Claude hook reference
  src/audiobook_pipeline/stages/README.md
  src/audiobook_pipeline/stages/__init__.py
Due: gen-readme

test: intentional type error -- hook should block
  src/audiobook_pipeline/stages/__init__.py
Due: gen-readme

feat: fix reorganize pipeline -- directory context, cache bypass, graceful ffprobe
  .reports/reorganize-pipeline.md
  src/audiobook_pipeline/ai.py
  src/audiobook_pipeline/runner.py
  src/audiobook_pipeline/stages/__init__.py
  src/audiobook_pipeline/stages/cleanup.py
  src/audiobook_pipeline/stages/organize.py
Due: gen-readme

session: wrap 2026-02-21 -- reorganize pipeline fixes (f681e9e3)
  .reports/briefing.md
  .reports/session-history.md
  .reports/sessions/f681e9e3-032e-4521-aa4e-ee15eeb2ea33.md
Due: none

feat: adversarial review fixes, author canonicalization, data quality verification
  .reports/antagonistic-review.md
  .reports/organize-dryrun-test.md
  .reports/reorganize-dryrun-test.md
  src/audiobook_pipeline/ai.py
  src/audiobook_pipeline/cli.py
  src/audiobook_pipeline/library_index.py
  src/audiobook_pipeline/ops/organize.py
  src/audiobook_pipeline/ops/verify.py
  src/audiobook_pipeline/runner.py
  src/audiobook_pipeline/stages/__init__.py
  src/audiobook_pipeline/stages/organize.py
Due: gen-readme

session: wrap 2026-02-22 -- PR creation (f681e9e3)
  .reports/briefing.md
  .reports/session-history.md
  .reports/sessions/f681e9e3-032e-4521-aa4e-ee15eeb2ea33.md
Due: none

feat: add convert mode with CPU-aware parallel batch processing
  src/audiobook_pipeline/README.md
  src/audiobook_pipeline/__init__.py
  src/audiobook_pipeline/config.py
  src/audiobook_pipeline/convert_orchestrator.py
  src/audiobook_pipeline/ffprobe.py
  src/audiobook_pipeline/models.py
  src/audiobook_pipeline/runner.py
  src/audiobook_pipeline/stages/README.md
  src/audiobook_pipeline/stages/__init__.py
  src/audiobook_pipeline/stages/cleanup.py
  src/audiobook_pipeline/stages/concat.py
  src/audiobook_pipeline/stages/convert.py
  src/audiobook_pipeline/stages/validate.py
  tests/test_convert_orchestrator.py
  tests/test_stages/test_concat.py
  tests/test_stages/test_convert.py
  tests/test_stages/test_validate.py
Due: gen-readme

fix: use psutil for instant CPU monitoring, fix dry-run stage flow
  pyproject.toml
  src/audiobook_pipeline/convert_orchestrator.py
  src/audiobook_pipeline/stages/concat.py
  src/audiobook_pipeline/stages/validate.py
  tests/test_stages/test_validate.py
  uv.lock
Due: gen-requirements

fix: accurate CPU monitoring -- blocking 1s sample, conservative workers
  src/audiobook_pipeline/config.py
  src/audiobook_pipeline/convert_orchestrator.py
  tests/test_convert_orchestrator.py
Due: none

session: wrap 2026-02-22 -- convert mode with CPU-aware parallelism (ce5c2584)
  .reports/briefing.md
  .reports/session-history.md
  .reports/sessions/ce5c2584-153c-45d0-b4d5-dd6e798f111b.md
Due: none

feat: reorder pipeline -- ASIN resolution before metadata and organize
  src/audiobook_pipeline/README.md
  src/audiobook_pipeline/__init__.py
  src/audiobook_pipeline/api/audible.py
  src/audiobook_pipeline/convert_orchestrator.py
  src/audiobook_pipeline/stages/README.md
  src/audiobook_pipeline/stages/__init__.py
  src/audiobook_pipeline/stages/asin.py
  src/audiobook_pipeline/stages/metadata.py
  src/audiobook_pipeline/stages/organize.py
  tests/test_stages/test_asin.py
  tests/test_stages/test_metadata.py
  tests/test_stages/test_organize.py
Due: gen-readme

session: wrap 2026-02-22 -- pipeline reordering and ASIN stage (0838cfda)
  .reports/briefing.md
  .reports/session-history.md
  .reports/sessions/0838cfda-9b55-4bc9-865e-54a8eff24977.md
Due: none

feat: expanded metadata tags, ffmpeg fixes, stale manifest detection, near-match folders
  README.md
  src/audiobook_pipeline/api/audible.py
  src/audiobook_pipeline/convert_orchestrator.py
  src/audiobook_pipeline/library_index.py
  src/audiobook_pipeline/ops/organize.py
  src/audiobook_pipeline/stages/asin.py
  src/audiobook_pipeline/stages/convert.py
  src/audiobook_pipeline/stages/metadata.py
  tests/test_stages/test_metadata.py
Due: none

fix: stale manifest detection per-artifact, cleanup work dirs on failure
  src/audiobook_pipeline/convert_orchestrator.py
Due: none

session: wrap 2026-02-22 -- batch threading and agent hook fixes (72924475)
  .reports/briefing.md
  .reports/session-history.md
  .reports/sessions/72924475-727a-40c8-b645-aa5c36945a67.md
Due: none

fix: cleanup work dirs on all exit paths (retag, dry-run, temp files)
  src/audiobook_pipeline/README.md
  src/audiobook_pipeline/__init__.py
  src/audiobook_pipeline/convert_orchestrator.py
  src/audiobook_pipeline/stages/README.md
  src/audiobook_pipeline/stages/__init__.py
  src/audiobook_pipeline/stages/metadata.py
Due: gen-readme

feat: reorganize mode runs ASIN+metadata, expanded Plex tags, filename cleanup
  src/audiobook_pipeline/README.md
  src/audiobook_pipeline/__init__.py
  src/audiobook_pipeline/api/README.md
  src/audiobook_pipeline/api/__init__.py
  src/audiobook_pipeline/api/audible.py
  src/audiobook_pipeline/models.py
  src/audiobook_pipeline/ops/README.md
  src/audiobook_pipeline/runner.py
  src/audiobook_pipeline/stages/README.md
  src/audiobook_pipeline/stages/__init__.py
  src/audiobook_pipeline/stages/asin.py
  src/audiobook_pipeline/stages/metadata.py
  src/audiobook_pipeline/stages/organize.py
  tests/test_api/test_audible.py
  tests/test_manifest.py
  tests/test_models.py
  tests/test_stages/test_metadata.py
  tests/test_stages/test_organize.py
Due: gen-readme

feat: persistent author alias DB for cross-run name canonicalization
  src/audiobook_pipeline/library_index.py
  src/audiobook_pipeline/runner.py
  src/audiobook_pipeline/stages/asin.py
Due: none

docs: capture todo - Auto-promote organize to convert for MP3-only dirs
  .planning/todos/pending/2026-02-23-auto-promote-organize-to-convert-for-mp3-only-dirs.md
  src/audiobook_pipeline/README.md
  src/audiobook_pipeline/stages/README.md
Due: none

feat: SQLite backend, multi-series fix, auto-promote MP3 dirs, book numbering
  src/audiobook_pipeline/__init__.py
  src/audiobook_pipeline/ai.py
  src/audiobook_pipeline/api/audible.py
  src/audiobook_pipeline/config.py
  src/audiobook_pipeline/convert_orchestrator.py
  src/audiobook_pipeline/library_index.py
  src/audiobook_pipeline/ops/__init__.py
  src/audiobook_pipeline/ops/organize.py
  src/audiobook_pipeline/pipeline_db.py
  src/audiobook_pipeline/runner.py
  src/audiobook_pipeline/stages/__init__.py
  src/audiobook_pipeline/stages/asin.py
  src/audiobook_pipeline/stages/cleanup.py
  src/audiobook_pipeline/stages/concat.py
  src/audiobook_pipeline/stages/convert.py
  src/audiobook_pipeline/stages/metadata.py
  src/audiobook_pipeline/stages/organize.py
  src/audiobook_pipeline/stages/validate.py
  tests/test_config.py
  tests/test_convert_orchestrator.py
  tests/test_manifest.py
  tests/test_ops/test_organize.py
  tests/test_pipeline_db.py
  tests/test_stages/test_asin.py
  tests/test_stages/test_concat.py
  tests/test_stages/test_convert.py
  tests/test_stages/test_metadata.py
  tests/test_stages/test_validate.py
Due: gen-readme

fix: near-match false positives, filename doubling, author override for collections
  src/audiobook_pipeline/cli.py
  src/audiobook_pipeline/ops/README.md
  src/audiobook_pipeline/ops/__init__.py
  src/audiobook_pipeline/ops/organize.py
  src/audiobook_pipeline/runner.py
  src/audiobook_pipeline/stages/README.md
  src/audiobook_pipeline/stages/__init__.py
  src/audiobook_pipeline/stages/organize.py
  tests/test_ops/test_organize.py
  tests/test_stages/test_organize.py
Due: gen-readme

fix: series stripping requires separator to prevent title mangling
  .reports/reorganize-audit.md
  src/audiobook_pipeline/stages/organize.py
Due: none

feat: detect chaptered m4b in convert pipeline for concat+encode
  src/audiobook_pipeline/runner.py
  src/audiobook_pipeline/stages/validate.py
Due: none

session: wrap 2026-02-23 -- TB library migration and chaptered m4b support (619a0225)
  .reports/briefing.md
  .reports/session-history.md
  .reports/sessions/619a0225-2aff-46fc-8b71-fbb25491a6d3.md
Due: none

cleanup: remove deprecated Manifest class, stale config, update README
  .gitignore
  .reports/full-reorganize.log
  .reports/library-analysis.md
  README.md
  scripts/find_untagged.py
  src/audiobook_pipeline/manifest.py
  tests/test_manifest.py
  tests/test_stages/test_organize.py
Due: none

feat: add pipeline levels (simple/normal/ai/full) for tiered intelligence
  .claude/agents/audiobook-guide.md
  CLAUDE.md
  README.md
  docs/install.md
  src/audiobook_pipeline/README.md
  src/audiobook_pipeline/__init__.py
  src/audiobook_pipeline/cli.py
  src/audiobook_pipeline/config.py
  src/audiobook_pipeline/models.py
  src/audiobook_pipeline/runner.py
  src/audiobook_pipeline/stages/asin.py
  tests/test_cli.py
  tests/test_config.py
  tests/test_models.py
  tests/test_stages/test_asin.py
Due: gen-readme

session: wrap 2026-02-23 -- pipeline levels (24cd5aab)
  .reports/briefing.md
  .reports/session-history.md
  .reports/sessions/24cd5aab-76b2-4c5e-b52e-1a930780fe34.md
Due: none

Path conditions:
  gen-readme: any of: __init__\.py$
  gen-requirements: any of: pyproject\.toml$
