Repository rodaddy/audiobook-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-readme, gen-requirements

gen-readme:
  name: Generate README from docstrings
  entry: python scripts/gen-readme.py
  language: python
  pass_filenames: false

gen-requirements:
  name: Generate requirements.txt
  entry: python scripts/gen-requirements.py
  language: python
  pass_filenames: false

feat(organize): build library paths and place books without collisions
  pyproject.toml
  src/audiobook_pipeline/services/organize.py
  tests/test_organize_service.py
Due: gen-requirements

feat(pipeline): run the spine end to end, resumably
  pyproject.toml
  src/audiobook_pipeline/db/queries.py
  src/audiobook_pipeline/services/pipeline.py
  tests/test_db.py
  tests/test_pipeline.py
Due: gen-requirements

docs(plan): record step 6 passing and the defects the live run found
  _plans/python-rewrite-sequence.md
Due: none

feat(apps): add the audiobook-convert and audiobook-audit commands
  pyproject.toml
  src/audiobook_pipeline/apps/__init__.py
  src/audiobook_pipeline/apps/audit/__init__.py
  src/audiobook_pipeline/apps/audit/__main__.py
  src/audiobook_pipeline/apps/convert/__init__.py
  src/audiobook_pipeline/apps/convert/__main__.py
  tests/test_apps.py
Due: gen-readme, gen-requirements

fix(organize): strip accents so one book is not filed twice
  src/audiobook_pipeline/services/organize.py
  tests/test_organize_service.py
Due: none

fix(organize): file books the way the library already files them
  src/audiobook_pipeline/services/__init__.py
  src/audiobook_pipeline/services/organize.py
  tests/test_organize_service.py
Due: gen-readme

fix(identify): never adopt a catalogue match the runtime contradicts
  config/config.sandbox.json
  src/audiobook_pipeline/apps/convert/__main__.py
  src/audiobook_pipeline/models/__init__.py
  src/audiobook_pipeline/models/chapter.py
  src/audiobook_pipeline/services/__init__.py
  src/audiobook_pipeline/services/identify.py
  src/audiobook_pipeline/services/pipeline.py
  tests/test_identify.py
  tests/test_pipeline.py
Due: gen-readme

feat(parse): reusable text, name, and pattern blocks from the old parser
  pyproject.toml
  src/audiobook_pipeline/models/parsed.py
  src/audiobook_pipeline/services/identify.py
  src/audiobook_pipeline/services/names.py
  src/audiobook_pipeline/services/organize.py
  src/audiobook_pipeline/services/patterns.py
  src/audiobook_pipeline/utils/text.py
  tests/test_names.py
  tests/test_patterns.py
  tests/test_text.py
Due: gen-requirements

feat(parse): read the author and series the source tree already states
  pyproject.toml
  src/audiobook_pipeline/services/parse.py
  src/audiobook_pipeline/utils/paths.py
  tests/test_parse.py
Due: gen-requirements

fix(pipeline): identify with what the path already knows
  config/config.sandbox.json
  src/audiobook_pipeline/services/parse.py
  src/audiobook_pipeline/services/pipeline.py
  tests/test_parse.py
  tests/test_pipeline.py
Due: none

test: consolidate per-case tests into per-behaviour tests
  tests/test_names.py
  tests/test_organize_service.py
  tests/test_parse.py
  tests/test_patterns.py
  tests/test_text.py
Due: none

feat(matching): compose one book key from reusable text helpers
  src/audiobook_pipeline/services/__init__.py
  src/audiobook_pipeline/services/matching.py
  src/audiobook_pipeline/services/names.py
  src/audiobook_pipeline/utils/__init__.py
  src/audiobook_pipeline/utils/text.py
  tests/test_matching.py
  tests/test_names.py
  tests/test_text.py
Due: gen-readme

chore(standards): enforce Python 3.13 quality rails
  .github/workflows/ci.yml
  _githooks/baseline.json
  _githooks/check_absolute_imports.py
  _githooks/check_baseline.py
  _githooks/check_code_size.py
  _githooks/check_exception_handling.py
  _githooks/gen-readme.py
  _githooks/gen-requirements.py
  _githooks/generate_folder_docs.py
  _githooks/pre-commit
  pyproject.toml
  src/audiobook_pipeline/README.md
  src/audiobook_pipeline/apps/README.md
  src/audiobook_pipeline/apps/audit/README.md
  src/audiobook_pipeline/apps/convert/README.md
  src/audiobook_pipeline/db/README.md
  src/audiobook_pipeline/models/README.md
  src/audiobook_pipeline/services/README.md
  src/audiobook_pipeline/utils/README.md
  uv.lock
Due: gen-requirements

feat(library): restore read-only audit and source diff
  pyproject.toml
  src/audiobook_pipeline/apps/audit/__main__.py
  src/audiobook_pipeline/models/library.py
  src/audiobook_pipeline/services/audit.py
  src/audiobook_pipeline/services/library.py
  src/audiobook_pipeline/services/matching.py
  src/audiobook_pipeline/utils/logging_config.py
  tests/test_audit.py
  tests/test_library_diff.py
  tests/test_logging.py
Due: gen-requirements

feat(pipeline): add resumable lifecycle stages
  pyproject.toml
  src/audiobook_pipeline/apps/convert/__main__.py
  src/audiobook_pipeline/config.py
  src/audiobook_pipeline/models/lifecycle.py
  src/audiobook_pipeline/models/media.py
  src/audiobook_pipeline/models/stage.py
  src/audiobook_pipeline/services/archive.py
  src/audiobook_pipeline/services/cleanup.py
  src/audiobook_pipeline/services/discovery.py
  src/audiobook_pipeline/services/pipeline.py
  src/audiobook_pipeline/services/validate.py
  src/audiobook_pipeline/utils/ffmpeg.py
  tests/test_apps.py
  tests/test_discovery.py
  tests/test_lifecycle.py
  tests/test_models.py
  tests/test_pipeline.py
Due: gen-requirements

feat(ai): add bounded candidate resolver
  pyproject.toml
  src/audiobook_pipeline/models/ai.py
  src/audiobook_pipeline/services/ai.py
  tests/test_ai.py
Due: gen-requirements

feat(batch): add index reservations and bounded scheduling
  pyproject.toml
  src/audiobook_pipeline/models/index.py
  src/audiobook_pipeline/models/scheduling.py
  src/audiobook_pipeline/services/index.py
  src/audiobook_pipeline/services/scheduler.py
  tests/test_index.py
  tests/test_scheduler.py
Due: gen-requirements

feat(batch): add process and disk admission guards
  pyproject.toml
  src/audiobook_pipeline/models/admission.py
  src/audiobook_pipeline/services/admission.py
  tests/test_admission.py
  uv.lock
Due: gen-requirements

feat(errors): restore typed pipeline failure contract
  pyproject.toml
  src/audiobook_pipeline/errors.py
  tests/test_errors.py
Due: gen-requirements

feat(ai): wire constrained resolution into identification
  pyproject.toml
  src/audiobook_pipeline/services/ai_selection.py
  src/audiobook_pipeline/services/pipeline.py
  tests/test_pipeline.py
  tests/test_pipeline_ai.py
Due: gen-requirements

fix(ai): bound untrusted candidate evidence
  src/audiobook_pipeline/services/ai_selection.py
  tests/test_pipeline_ai.py
Due: none

feat(metadata): restore cover art and M4B tags
  pyproject.toml
  src/audiobook_pipeline/models/metadata.py
  src/audiobook_pipeline/services/audible.py
  src/audiobook_pipeline/services/cover.py
  src/audiobook_pipeline/utils/tagging.py
  tests/test_metadata.py
Due: gen-requirements

feat(watch): add durable inbox quarantine workflow
  pyproject.toml
  src/audiobook_pipeline/models/watch.py
  src/audiobook_pipeline/services/watch.py
  src/audiobook_pipeline/services/watch_recovery.py
  tests/test_watch.py
Due: gen-requirements

fix(watch): anchor quarantine moves to directory fds
  pyproject.toml
  src/audiobook_pipeline/services/watch.py
  src/audiobook_pipeline/services/watch_entries.py
  tests/test_watch.py
  tests/test_watch_recovery.py
Due: gen-requirements

feat(batch): run conversions through bounded scheduler
  pyproject.toml
  src/audiobook_pipeline/apps/convert/__main__.py
  src/audiobook_pipeline/config.py
  src/audiobook_pipeline/services/batch.py
  src/audiobook_pipeline/services/convert.py
  tests/test_apps.py
  tests/test_batch.py
  tests/test_convert.py
Due: gen-requirements

feat(metadata): persist retry-safe tagging state
  pyproject.toml
  src/audiobook_pipeline/db/rows.py
  src/audiobook_pipeline/services/metadata_stage.py
  src/audiobook_pipeline/services/pipeline.py
  tests/test_db.py
  tests/test_metadata.py
  tests/test_pipeline.py
  tests/test_pipeline_metadata.py
Due: gen-requirements

feat(watch): route claims through batch pipeline
  pyproject.toml
  src/audiobook_pipeline/apps/watch/README.md
  src/audiobook_pipeline/apps/watch/__init__.py
  src/audiobook_pipeline/apps/watch/__main__.py
  src/audiobook_pipeline/config.py
  tests/test_watch_app.py
Due: gen-readme, gen-requirements

feat(library): organize through durable index claims
  src/audiobook_pipeline/services/batch.py
  src/audiobook_pipeline/services/index.py
  src/audiobook_pipeline/services/indexed_organization.py
  src/audiobook_pipeline/services/organize.py
  src/audiobook_pipeline/services/pipeline.py
  tests/test_indexed_organization.py
Due: none

fix(db): reject updates for missing books
  src/audiobook_pipeline/db/queries.py
  tests/test_db_migration.py
  tests/test_ffprobe.py
  tests/test_pipeline_db.py
  tests/test_sanitize.py
Due: none

test(library): restore parsing and organization coverage
  src/audiobook_pipeline/services/parse.py
  tests/test_api/test_search.py
  tests/test_author_canonical.py
  tests/test_library_index.py
  tests/test_ops/test_organize.py
  tests/test_organize.py
  tests/test_parse.py
  tests/test_search_scoring.py
  tests/test_stages/test_organize.py
Due: none

fix(discovery): preserve multidisc chapter boundaries
  src/audiobook_pipeline/services/concat.py
  src/audiobook_pipeline/services/discovery.py
  tests/test_chapter_preservation.py
  tests/test_runner_discovery.py
  tests/test_separate_books.py
Due: none

test(ai): use typed resolver fixtures
  tests/test_pipeline_ai.py
Due: none

test(admission): restore concurrency guard coverage
  tests/test_concurrency.py
Due: none

test(metadata): restore tagging and cover coverage
  tests/test_stages/test_metadata.py
Due: none

chore(standards): close remaining Python rail gaps
  _githooks/check_config_compliance.py
  scripts/ops/find_untagged.py
  src/audiobook_pipeline/utils/paths.py
  tests/test_pipeline.py
Due: none

test(pipeline): restore CLI and core stage coverage
  tests/test_cli.py
  tests/test_convert_orchestrator.py
  tests/test_stages/test_concat.py
  tests/test_stages/test_convert.py
  tests/test_stages/test_validate.py
Due: none

fix(metadata): bound remote chapters to local audio
  src/audiobook_pipeline/services/identify.py
  tests/test_api/test_audible.py
  tests/test_audnexus.py
  tests/test_stages/test_asin.py
Due: none

chore(standards): close rewrite dark window
  _githooks/baseline.json
  pyproject.toml
  scripts/run
Due: gen-requirements

fix(pipeline): enforce audit and source metadata contracts
  src/audiobook_pipeline/apps/audit/__main__.py
  src/audiobook_pipeline/services/organize.py
  src/audiobook_pipeline/services/parse.py
  src/audiobook_pipeline/services/pipeline.py
  tests/test_audit.py
  tests/test_organize_service.py
  tests/test_parse.py
  tests/test_pipeline.py
Due: none

fix(standards): isolate hook proof tool links
  _githooks/verify.sh
Due: none

Path conditions:
  gen-readme: any of: __init__\.py$
  gen-requirements: any of: pyproject\.toml$
