Repository rodaddy/audiobook-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-readme, gen-requirements

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: gen-readme
        name: Generate README from docstrings
        entry: python scripts/gen-readme.py
        language: python
        pass_filenames: false
        files: __init__\.py$

      - id: gen-requirements
        name: Generate requirements.txt
        entry: python scripts/gen-requirements.py
        language: python
        pass_filenames: false
        files: pyproject\.toml$

feat: add library diff and improve audit normalization
  .claude/agents/audiobook-guide.md
  CLAUDE.md
  docs/install.md
  src/audiobook_pipeline/cli_audit.py
  src/audiobook_pipeline/ops/README.md
  src/audiobook_pipeline/ops/__init__.py
  src/audiobook_pipeline/ops/audit.py
  src/audiobook_pipeline/ops/library_diff.py
  tests/test_audit.py
  tests/test_library_diff.py
Due: gen-readme

feat: add library diff and improve audit normalization (#8)
  .claude/agents/audiobook-guide.md
  CLAUDE.md
  docs/install.md
  src/audiobook_pipeline/cli_audit.py
  src/audiobook_pipeline/ops/README.md
  src/audiobook_pipeline/ops/__init__.py
  src/audiobook_pipeline/ops/audit.py
  src/audiobook_pipeline/ops/library_diff.py
  tests/test_audit.py
  tests/test_library_diff.py
Due: gen-readme

session: wrap 2026-02-24 -- library diff implementation and PR merge (969c8457)
  .reports/briefing.md
  .reports/session-history.md
  .reports/sessions/969c8457-3797-4ffb-88e1-9f104c6a7abf.md
Due: none

Add Buy Me A Coffee badge
  README.md
Due: none

docs: overhaul README, fix audiobook-audit CLI, add Python CI
  .github/workflows/ci.yml
  README.md
  VERSION
  pyproject.toml
Due: gen-requirements

fix(deps): bump all dependencies to latest safe versions
  pyproject.toml
  requirements.txt
  uv.lock
Due: gen-requirements

ci: add Python test, lint, and security jobs
  .github/workflows/ci.yml
Due: none

build: add ruff/pytest config, bump requires-python to 3.12, add ruff dev dep
  pyproject.toml
Due: gen-requirements

refactor: remove dead Windows msvcrt locking code from concurrency.py
  src/audiobook_pipeline/concurrency.py
Due: none

refactor: use pydantic-settings _env_file in CLI, document _load_env_file
  src/audiobook_pipeline/cli.py
  uv.lock
Due: none

fix: resolve all ruff lint warnings in src/ and tests/
  src/audiobook_pipeline/ai.py
  src/audiobook_pipeline/api/search.py
  src/audiobook_pipeline/cli.py
  src/audiobook_pipeline/cli_audit.py
  src/audiobook_pipeline/concurrency.py
  src/audiobook_pipeline/config.py
  src/audiobook_pipeline/convert_orchestrator.py
  src/audiobook_pipeline/library_index.py
  src/audiobook_pipeline/ops/audit.py
  src/audiobook_pipeline/ops/library_diff.py
  src/audiobook_pipeline/ops/organize.py
  src/audiobook_pipeline/ops/verify.py
  src/audiobook_pipeline/pipeline_db.py
  src/audiobook_pipeline/runner.py
  src/audiobook_pipeline/sanitize.py
  src/audiobook_pipeline/stages/asin.py
  src/audiobook_pipeline/stages/concat.py
  src/audiobook_pipeline/stages/convert.py
  src/audiobook_pipeline/stages/metadata.py
  src/audiobook_pipeline/stages/organize.py
  src/audiobook_pipeline/stages/validate.py
  tests/test_ai.py
  tests/test_api/test_audible.py
  tests/test_api/test_search.py
  tests/test_audit.py
  tests/test_config.py
  tests/test_convert_orchestrator.py
  tests/test_ffprobe.py
  tests/test_library_diff.py
  tests/test_library_index.py
  tests/test_logging.py
  tests/test_ops/test_organize.py
  tests/test_pipeline_db.py
  tests/test_sanitize.py
  tests/test_stages/test_asin.py
  tests/test_stages/test_concat.py
  tests/test_stages/test_convert.py
  tests/test_stages/test_metadata.py
  tests/test_stages/test_organize.py
  tests/test_stages/test_validate.py
Due: none

fix(diff): scan unconverted source formats and collapse real part naming
  src/audiobook_pipeline/ops/library_diff.py
  tests/test_library_diff.py
Due: none

fix(runner): stop a loose file at a collection root swallowing the tree
  src/audiobook_pipeline/runner.py
  tests/test_runner_discovery.py
Due: none

fix(validate): tell a book series from a chaptered book by duration
  src/audiobook_pipeline/README.md
  src/audiobook_pipeline/__init__.py
  src/audiobook_pipeline/ffprobe.py
  src/audiobook_pipeline/runner.py
  src/audiobook_pipeline/stages/README.md
  src/audiobook_pipeline/stages/__init__.py
  src/audiobook_pipeline/stages/validate.py
  tests/test_separate_books.py
Due: gen-readme

fix(asin): use the parsed author when ranking Audible matches
  src/audiobook_pipeline/ops/organize.py
  src/audiobook_pipeline/stages/asin.py
  tests/test_organize.py
Due: none

fix(search): do not let an Audible subtitle sink the right match
  src/audiobook_pipeline/api/README.md
  src/audiobook_pipeline/api/__init__.py
  src/audiobook_pipeline/api/search.py
  src/audiobook_pipeline/stages/asin.py
  tests/test_search_scoring.py
Due: gen-readme

fix(organize): strip 'Part N of M' from derived book titles
  src/audiobook_pipeline/ops/organize.py
  tests/test_organize.py
Due: none

fix(concat): preserve chapter marks embedded in source audio
  src/audiobook_pipeline/README.md
  src/audiobook_pipeline/__init__.py
  src/audiobook_pipeline/ffprobe.py
  src/audiobook_pipeline/stages/README.md
  src/audiobook_pipeline/stages/__init__.py
  src/audiobook_pipeline/stages/concat.py
  tests/test_chapter_preservation.py
  tests/test_stages/test_concat.py
Due: gen-readme

feat(concat): recover real chapters from Audnexus when audio has none
  src/audiobook_pipeline/api/README.md
  src/audiobook_pipeline/api/__init__.py
  src/audiobook_pipeline/api/audnexus.py
  src/audiobook_pipeline/pipeline_db.py
  src/audiobook_pipeline/stages/README.md
  src/audiobook_pipeline/stages/__init__.py
  src/audiobook_pipeline/stages/concat.py
  tests/test_audnexus.py
  tests/test_chapter_preservation.py
  tests/test_db_migration.py
Due: gen-readme

chore(qmd): track the project-local search index allowlist
  .qmd/index.yml
Due: none

fix(library): require compatible given names for sole-surname author match
  src/audiobook_pipeline/library_index.py
  tests/test_author_canonical.py
Due: none

fix(metadata): write the MP4 atoms ffmpeg silently drops
  src/audiobook_pipeline/stages/metadata.py
  tests/test_stages/test_metadata.py
Due: none

feat(convert): join already-AAC sources without re-encoding
  src/audiobook_pipeline/ffprobe.py
  src/audiobook_pipeline/stages/asin.py
  src/audiobook_pipeline/stages/concat.py
  src/audiobook_pipeline/stages/convert.py
  tests/test_stages/test_convert.py
Due: none

feat(config): self-contained defaults, centralized logging, example profiles
  examples/config/ai-assisted.env
  examples/config/audiobookshelf.env
  examples/config/organize-only.env
  examples/config/plex.env
  examples/config/server-daemon.env
  examples/config/simple-no-ai.env
  src/audiobook_pipeline/cli_audit.py
  src/audiobook_pipeline/config.py
  tests/test_config.py
Due: none

feat(examples): guided setup script and aligned profile paths
  .gitignore
  examples/config/audiobookshelf.env
  examples/config/organize-only.env
  examples/config/plex.env
  examples/config/simple-no-ai.env
  examples/scripts/setup.sh
Due: none

docs(plan): sequence the v1.0.0 rewrite before writing any of it
  _plans/python-rewrite-sequence.md
Due: none

docs(plan): config layers, scripts layout, and the drift is the work
  _plans/python-rewrite-sequence.md
Due: none

docs(plan): no ORM -- stdlib sqlite3 plus a Pydantic row factory
  _plans/python-rewrite-sequence.md
Due: none

feat(config): the keystone, with precedence as a mechanism not a claim
  .gitignore
  config/config.json
  pyproject.toml
  secrets/README.md
  secrets/config.example.json
  src/audiobook_pipeline/__init__.py
  src/audiobook_pipeline/config.py
  src/audiobook_pipeline/py.typed
  src/audiobook_pipeline/utils/__init__.py
  src/audiobook_pipeline/utils/logging_config.py
  tests/test_config.py
  tests/test_logging.py
  uv.lock
Due: gen-readme, gen-requirements

feat(models): Pydantic shapes for every boundary the pipeline crosses
  pyproject.toml
  src/audiobook_pipeline/models/__init__.py
  src/audiobook_pipeline/models/book.py
  src/audiobook_pipeline/models/chapter.py
  src/audiobook_pipeline/models/media.py
  src/audiobook_pipeline/models/metadata.py
  src/audiobook_pipeline/models/stage.py
  tests/test_models.py
Due: gen-readme, gen-requirements

feat(utils): the shared floor -- ffmpeg, http, paths, tagging
  pyproject.toml
  src/audiobook_pipeline/utils/ffmpeg.py
  src/audiobook_pipeline/utils/http.py
  src/audiobook_pipeline/utils/paths.py
  src/audiobook_pipeline/utils/tagging.py
  tests/test_utils.py
Due: gen-requirements

feat(db): sqlite3 + Pydantic row factory, schema generated from models
  pyproject.toml
  src/audiobook_pipeline/db/__init__.py
  src/audiobook_pipeline/db/connection.py
  src/audiobook_pipeline/db/queries.py
  src/audiobook_pipeline/db/rows.py
  tests/test_db.py
Due: gen-readme, gen-requirements

docs(plan): record step 5 done and answer open question 1
  _plans/python-rewrite-sequence.md
Due: none

feat(discovery): walk the source tree without pruning or over-concat
  pyproject.toml
  src/audiobook_pipeline/models/book.py
  src/audiobook_pipeline/services/__init__.py
  src/audiobook_pipeline/services/discovery.py
  tests/test_discovery.py
Due: gen-readme, gen-requirements

feat(concat): join files and build chapters, preferring embedded marks
  pyproject.toml
  src/audiobook_pipeline/services/concat.py
  src/audiobook_pipeline/utils/ffmpeg.py
  tests/test_concat.py
Due: gen-requirements

feat(convert): encode to chaptered M4B with bitrate as a ceiling
  pyproject.toml
  src/audiobook_pipeline/services/convert.py
  tests/test_convert.py
Due: gen-requirements

feat(identify): match books against Audible and recover chapters safely
  pyproject.toml
  src/audiobook_pipeline/services/audible.py
  src/audiobook_pipeline/services/identify.py
  tests/test_identify.py
Due: gen-requirements
